.list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
    
    li {
        width: 100%;
    }
}

.title {
    font-size: 17px;
    font-weight: 700;
    color: var(--title-color);
}