.item {
    position: relative;
    display: block;
    width: 185px;
    text-align: center;
    cursor: pointer;
    
    .fixed {
        position: absolute;
        top: 10px;
        left: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5px;
    }

    .btn {
        font-size: 20px;

        &.playlist {
            display: flex;
            padding: 5px;
            color: var(--light-color);
            background-color: rgba(black, 50%);
            border-radius: 50%;
            aspect-ratio: 1;
        }

        &:not(.playlist) {
            color: var(--favorite-color);
        }

        // Mobile
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    .img {
        display: block;
        border-radius: calc(var(--main-radius) / 2);
        transition: var(--transition);
        margin: 0 auto 15px auto;
    }

    .title {
        font-size: 15px;
        font-weight: 800;
        color: var(--title-color);
        margin: 0 0 5px 0;

        // Tablet
        @media (max-width: 1024px) {
            font-size: 14px;
        }

        // Mobile
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }

    .text {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: var(--text-color);

        small {
            font-size: 10px;
        }

        // Mobile
        @media (max-width: 768px) {
            font-size: 12px;

            small {
                font-size: 9px;
            }
        }
    }

    // Tablet
    @media (max-width: 1024px) {
        width: 160px;
    }

    // Mobile
    @media (max-width: 768px) {
        width: 140px;
    }

    // Small mobile
    @media (max-width: 480px) {
        width: 120px;

        .img {
            margin-bottom: 10px;
        }
    }
}