.main {
    display: flex;
    height: 100vh;

    // Tablet and below
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.content {
    position: relative;
    flex: 5.5;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
        width: 6.5px;
        height: 2.5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    // Tablet
    @media (max-width: 1024px) {
        flex: 1;
        padding-bottom: 100px;
    }

    // Mobile
    @media (max-width: 768px) {
        padding-bottom: 120px;
    }
}