.content {
    position: relative;
    margin-top: -70px;
    padding: 0 24px 100px 24px;
    z-index: 2;

    // Tablet
    @media (max-width: 1024px) {
        padding: 0 30px 100px 30px;
        margin-top: -50px;
    }

    // Mobile
    @media (max-width: 768px) {
        padding: 0 20px 120px 20px;
        margin-top: -40px;
    }

    // Small mobile
    @media (max-width: 480px) {
        padding: 0 0px 120px 0px;
        margin-top: -30px;
    }
}