@import "../../styles/partials/mixin";

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 25%;

    .img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0; // Prevent shrinking
    
        img {
            display: block;
            width: 100% !important;    
            height: 100% !important;
            object-fit: cover;
        }
    }
    
    .title {
        font-size: 17px;
        font-weight: 700;
        color: var(--title-color);
        margin-bottom: 7px;
        @include lineText(1);
    }
    
    .artist {
        font-size: 13.5px;
        font-weight: 400;
        color: var(--text-color);
        @include lineText(1);
    }

    .favorite {
        background-color: var(--main-card-background);
    }

    .icon {
        font-size: 20px;
        color: var(--title-color);
        transition: var(--transition);
    }

    .active .icon {
        color: var(--favorite-color);
    }
}

.play {
    border-color: var(--primary-color);
    box-shadow: inset 30px 0 0 -3px var(--primary-color);
}

.passed {
    opacity: 0.4;
}