.list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    margin: 0;

    li {
        flex: 1;
    }

    // Tablet
    @media (max-width: 1024px) {
        gap: 15px;
    }

    // Mobile
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;

        li {
            width: 100%;
        }
    }
}